@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight:bold ;
}
body{
    background-color: hsl(221, 100%, 96%);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    width: 45%;
}
.left-card{
    width: 50%;
    color: hsl(241, 100%, 89%);
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    justify-items: center;
    text-align: center;
    border-radius: 20px;
    
}
 .left-card h1 ,.left-card h2{
    color: white;
}
li{
    margin-bottom: 1rem;
    padding: 1rem;
    
}
.detail{
    float: right;
    margin-left: 5.5rem;
    color: black;
}
.Reaction{
    background-color: hsla(0, 100%, 67%, 0.068);
    border-radius: 10px;
    color: hsl(0, 100%, 67%);
}
.Memory{
    background-color: hsl(39, 100%, 56%,0.068);
    border-radius: 10px;
    color: hsl(39, 100%, 56%);
}
.Verbal{
    background-color: hsl(166, 100%, 37%,0.068);
    border-radius: 10px;
    color: hsl(166, 100%, 37%);
}
.Visual{
    background-color: hsl(234, 85%, 45%,0.068);
    border-radius: 10px;
    color: hsl(234, 85%, 45%);
}
.icon{
    vertical-align: text-top;
    margin-right: 0.6rem;
}
ul{
    list-style: none;
    margin-bottom: 3rem;
}
h4{
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}
.result{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 25%;
    padding: 2rem;
    margin-bottom: 2.5rem;
}
.result h1{
    font-size: 3rem;
}
.left-card h2{
    margin-bottom: 1rem;
}
p{
    font-size: 18px;
    font-weight: 500;
}
.left-card p{
    width: 70%;
    margin-bottom: 4rem;
}
.right-card{
    margin-left: 0.5rem;
    width: 50%;
    
}
.right-card h4{
    margin-left: 2rem;
}
a{
    margin-bottom: 5rem;
    background-color:hsl(224, 30%, 27%);
    padding: 0.8rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 24px;
    color: white;
    cursor: pointer;
}
a:hover{
    background-color: hsl(241, 81%, 54%);
}
.test{
    justify-items: center;
}
.score{
    color: grey;   
}
